---
title: About
hero: About
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="staff-image" style="background-image: url('/images/tanya.jpg')"></div>
			<div class="name">Tanya J.</div>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">I’m your thrift store therapist providing affordable clothes for your fashion needs because life is better when you are thrift shopping!</p>
	</div>
	<!--<div>
		<h3 class="editable">Style</h3>
		<p class="editable">I have a passion for style and design.</p>
	</div>-->
</div>
