---
title: About
hero: About
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="staff-image" style="background-image: url('/images/tanya.jpg')"></div>
			<div class="name"><b>The Therapist</b></div>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">I’m your thrift store therapist providing affordable clothes for your fashion needs because life is better when you are thrift shopping! If you're interested in partnering with us to have your items sold through us drop us a line <a class="button" href="/contact/">Here</a>.</p>
    <p class="editable">If you have any questions or concerns with your items or require additional pictures and videos please don’t hesitate to send me an email.</p>
    <p class="editable">We aim at providing new thrifted items and items that are in the best condition.</p>
    <p class="editable"><b>PAYPAL BUYER PROTECTION</b></p>

      <p class="editable">PayPal Buyer Protection: We are Proud to provide Paypal Third Party</p>

      <p class="editable">If you don’t receive your item, or the item is significantly different from its description in the seller’s listing, PayPal Buyer Protection covers eligible transactions for up to the full purchase price plus original shipping charges. (Some purchases aren’t eligible for this program, including vehicles in the Motors category, capital equipment in the Business & Industrial category, and Real Estate.)</p>

      <p class="editable">An item is covered by PayPal Buyer Protection if:</p>

      <p class="editable">You purchase the item on thriftstoretherapist.com.
      You use PayPal to pay for the item.
      You correspond with the mylaptopstands.com using the email address thriftedtreasures403@gmail.com.
      The seller’s listing is for a physical item—services and intangible items aren’t covered.
      You file only one claim per PayPal payment.
      You open the case no later than 180 calendar days from the date of your PayPal payment and – if you need to – escalate it to a claim no more than 20 calendar days after you open your case.
      You meet the PayPal Buyer Protection requirements outlined in Section 13 of the PayPal User Agreement.
    </p>
	</div>
	<!--<div>
		<h3 class="editable">Style</h3>
		<p class="editable">I have a passion for style and design.</p>
	</div>-->
</div>
