<aside class="sidebar" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="http://schema.org/WPSideBar">

  <!--<section class="widget">
    <h3 class="widget-title">Recent Posts</h3>
    <a href="https://hop.clickbank.net/?affiliate=XXXXX&vendor=1minweight"><img src="/images/1min-160x600b.gif" alt="ecc-160x600" height="auto" width="160px" ></a>
    <ul>
      {% for post in site.posts limit:3 %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>-->
  <a href="https://af364pnjd6z6ds0x18oqp2v22r.hop.clickbank.net/" target="_blank"><img src="/images/1min-160x600b.gif" alt="ecc-160x600" height="auto" width="160px" ></a>

</aside>
